body {
  background-color: #f2f2f2;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 50px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow: 3px 3px 0 #000,
     -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 900;
}

h2 {
        font-size: 30px;
        -webkit-text-stroke: 1px black;
        color: white;
        text-shadow: 1.5px 1.5px 0 #000,
         -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-weight: 500;
}

h3 {
	color: #000;
	font-weight: 400;
    font-size: 20px;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

.player h1 {
        position: relative;
        padding:5px 20px;
        font:bold 28px/1.6 Arial, Helvetica, sans-serif;
        /*font-weight: 500;*/
        color:#333;
        background:#fff;
        text-shadow:
            1px 1px 0 #fff,
            2px 2px 0 #999;
        border-top:#333 solid 3px;
        border-bottom:#333 solid 3px;
        background-image: -webkit-gradient(linear, left top, right bottom,
                from(           rgba(255, 255, 255, 0.0)), 
                color-stop(0.4, rgba(255, 255, 255, 0.0)), 
                color-stop(0.4, rgba(0, 0, 0, 0.1)), 
                color-stop(0.6, rgba(0, 0, 0, 0.1)), 
                color-stop(0.6, rgba(255, 255, 255, 0.0)),
                to(             rgba(255, 255, 255, 0.0))
                );
        background-image: -webkit-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: -moz-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: -o-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: linear-gradient(to bottom -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-size:4px 4px;
}
 
.player h1:before{
    color: #FFC110;
    font-weight: bold;
    font-size: 0.2em;
    content: "Q";
    position: absolute;
    top: 0;
    left: 0.6em;
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
}
 
.player h1:after{
    color: #FFC110;
    font-weight: bold;
    font-size: 0.2em;
    content: "S";
    position: absolute;
    top: 0.8em;
    left: 0;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.player h2 {
        position: relative;
        padding:5px 20px;
        font:bold 28px/1.6 Arial, Helvetica, sans-serif;
        /*font-weight: 500;*/
        color:#333;
        background:#fff;
        text-shadow:
            1px 1px 0 #fff,
            2px 2px 0 #999;
        border-top:#333 solid 3px;
        border-bottom:#333 solid 3px;
        background-image: -webkit-gradient(linear, left top, right bottom,
                from(           rgba(255, 255, 255, 0.0)), 
                color-stop(0.4, rgba(255, 255, 255, 0.0)), 
                color-stop(0.4, rgba(0, 0, 0, 0.1)), 
                color-stop(0.6, rgba(0, 0, 0, 0.1)), 
                color-stop(0.6, rgba(255, 255, 255, 0.0)),
                to(             rgba(255, 255, 255, 0.0))
                );
        background-image: -webkit-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: -moz-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: -o-linear-gradient(top -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-image: linear-gradient(to bottom -45deg,
                transparent 40%,
                rgba(0, 0, 0, 0.1) 40%,
                rgba(0, 0, 0, 0.1) 60%,
                transparent 60%
                );
        background-size:4px 4px;
}
 
.player h2:before{
    color: #FFC110;
    font-weight: bold;
    font-size: 0.5em;
    content: "Q";
    position: absolute;
    top: 0;
    left: 0.6em;
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
}
 
.player h2:after{
    color: #FFC110;
    font-weight: bold;
    font-size: 0.5em;
    content: "S";
    position: absolute;
    top: 0.8em;
    left: 0;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #E89603;
	border-color: transparent;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
header.jumbotron {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #FFC110;
}

header.jumbotron h2 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 1px;

}

/* Component */


.container {
    padding-top: 50px;
    position: relative;
}

#preArea h1{
    margin-top: 100px;
    font:bold 6em Arial, Helvetica, sans-serif;
    /*font-weight: 500;*/
    color:#333;
    background:#fff;
    text-shadow:
        1px 1px 0 #fff,
        2px 2px 0 #999;
    border-top:#333 solid 3px;
    border-bottom:#333 solid 3px;
    background-image: -webkit-gradient(linear, left top, right bottom,
            from(           rgba(255, 255, 255, 0.0)), 
            color-stop(0.4, rgba(255, 255, 255, 0.0)), 
            color-stop(0.4, rgba(0, 0, 0, 0.1)), 
            color-stop(0.6, rgba(0, 0, 0, 0.1)), 
            color-stop(0.6, rgba(255, 255, 255, 0.0)),
            to(             rgba(255, 255, 255, 0.0))
            );
    background-image: -webkit-linear-gradient(top -45deg,
            transparent 40%,
            rgba(0, 0, 0, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            transparent 60%
            );
    background-image: -moz-linear-gradient(top -45deg,
            transparent 40%,
            rgba(0, 0, 0, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            transparent 60%
            );
    background-image: -o-linear-gradient(top -45deg,
            transparent 40%,
            rgba(0, 0, 0, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            transparent 60%
            );
    background-image: linear-gradient(to bottom -45deg,
            transparent 40%,
            rgba(0, 0, 0, 0.1) 40%,
            rgba(0, 0, 0, 0.1) 60%,
            transparent 60%
            );
    background-size:4px 4px;
}

.choiceArea{
    position: relative;
    width: 400px;
    height: 250px;
    border: 5px solid #FFFFFF;
}
.correctChoice{
    border: 5px solid #FF0000;
}

.choiceArea .answerArea{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    font-size: 25px;
}
.choiceArea .choicePicArea{
    width: 100%;
    height: 100%;
}
.choiceArea .choiceTextArea{
    width: 100%;
    position: absolute;
    padding: 25px;
}

.container #questionArea{
    position: absolute;
}

.container #timerArea{
    position: absolute;
    top: 100px;
    right: 0px;
    font-size: 100px;
    font-weight: 900;
        -webkit-text-stroke: 3px black;
color: #fff;
text-shadow:
  0px 0px 1px #666,
  0px 0px 5px #666,
  0px 0px 6px #666;

}

.rankArea{
    font-style: 30px;
}
.choiceNumberArea{
    margin: 5px;
    position: absolute;
    font-size: 30px;
color: #fff;
text-shadow:
  0px 0px 3px #666,
  0px 0px 3px #666,
  0px 0px 3px #666;
}

#titleImage{
    float: left;
    margin-left: 100px;
    text-align: center;
    margin-top: 10px;
}
#introDescription {
          float: left;
          width: 100%;
          margin-right: -150px;
          margin-top: 10px;
}

#mobileUserList {
    margin-top: 100px;
    float: right;
    width: 150px;
    height: 450px;
    overflow: hidden;
}

#mobileUserList ul {
    list-style:none;
    font-size: 1em;
    padding: 0;
}
#mobileUserList li{
    font:bold 1em Arial, Helvetica, sans-serif;
    -webkit-box-shadow: 0 2px 1px -1px #777;
       -moz-box-shadow: 0 2px 1px -1px #777;
            box-shadow: 0 2px 1px -1px #777;
    margin:2px;
    padding: 2px;
    
}
#mobileUserList li span{
    border-left:5px #F4A460 solid;
    padding-left:10px;
    
}


.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity:0;
}

.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.animate-show-hide.ng-hide-add {
  opacity:1;
}

audio {
    width: 100%;
    margin-top: 50px;
}
video {
    height: 500px;
}


/* ngAnimate */
.animeFadein.ng-enter {
 -webkit-transition: 2s linear all;
 transition: 2s linear all;
 opacity: 0;
 font-size:1em;
}
.animeFadein.ng-enter.ng-enter-active { 
 opacity: 1;
 font-size:2em;
}


.gold{
    border-bottom: solid 3px #FFD700;
    font-size:1.6em;
    font-weight: bold;
}
.silver{
    border-bottom: solid 3px #C0C0C0;
    font-size:1.4em;
    font-weight: bold;
}
.bronze{
    border-bottom: solid 3px #C47222;
    font-size:1.2em;
    font-weight: bold;
}

.thumb {
    height: 200px;
    width: auto;
    margin: 20px;
    padding: 2px;
    background-color: #000;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}