<div class="container player">
<!-- <audio src="../sound/allstar_rank.wav" autoplay/> -->
<audio src="../sound/pastel_color1.mp3" autoplay/><!-- Music is VFR -->
<audio id="allrankbgm" src="../sound/yoru_no_zattou.mp3" autoplay /><!-- Music is VFR -->
<audio id="drumroll1" src="../sound/drum1.mp3" preload="auto"/><!-- Music is VFR -->
<audio id="drumroll2" src="../sound/drum2.mp3" preload="auto"/><!-- Music is VFR -->
<audio id="drumroll3" src="../sound/drum3.mp3" preload="auto"/><!-- Music is VFR -->
<div id="rankArea">
    <h2>Total Ranking</h2>
    <div ng-show="ct.showendtitle">
    <p>&nbsp;</p>
      <h1 style="font-size: 7em;">&nbsp;ランキング発表</h1>
            
    </div>
    <table class="table table-striped" ng-show="!ct.showendtitle">
      <thead>
  <tr>
    <th width="100">順位</th>
    <th>ニックネーム</th>
    <th width="200">正解数</th>
    <th width="200">タイム</th>
  </tr>
      </thead>
      <tbody>
  <tr id="allrankTable" class="animeFadein" ng-repeat="rank in ct.allranks">
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.ranknum}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.userName}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.correctSum}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.ansSecSum}}</td>
  </tr>
      </tbody>
    </table>
    </div>
    <p><a href="#/" class="btn btn-primary" ng-show="ct.backbutton">マイページへ戻る</a>
</div>