<div class="container">
<!-- <audio src="../sound/allstar_rank.wav" autoplay/> -->
<div id="rankArea">
    <h2>ALL Ranking</h2>
    <table class="table table-striped">
      <thead>
  <tr>
    <th>順位</th>
    <th>ニックネーム</th>
    <th width="200">正解数</th>
    <th width="200">タイム</th>
  </tr>
      </thead>
      <tbody>
  <tr id="allrankTable" class="animeFadein" ng-repeat="rank in ct.allranks">
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.ranknum}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.userName}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.correctSum}}</td>
    <td ng-class="(rank.ranknum==1) ? 'gold' : ((rank.ranknum==2) ? 'silver' : ((rank.ranknum==3) ? 'bronze' : ''))">{{rank.ansSecSum}}</td>
  </tr>
      </tbody>
    </table>
    </div>
    <p><a href="#/" class="btn btn-primary">マイページへ戻る</a>
</div>


          <div class="alert alert-block" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" >
             <a class="close" data-dismiss="alert" href="#">X</a>
             <h4 class="alert-heading">Info</h4>
               <div ng-bind="flash.message"></div>
        </div>