<div class="container player" ng-click="ct.clickContainer()">
    <div id="introduction">

        <div id="titleImage" ng-if="ct.phase == 0" >  
            <img src="../../server/data/aaa/0/title.jpg" height="500px">
        </div>
      
          <div id="introDescription" ng-if="ct.phase == 1">
            <h2>お願い</h2>
            <p>&nbsp;</p>
            <h3>①スマートフォンあるいは携帯電話で、以下のURLにアクセスして下さい。</h3>
            <p><span style="font-weight: bold;font-size: 2.5em;">smartq.ddo.jp</span></p>
            <h3>②コンテンツIDに「<span style="color: red;font-size: 2em;"><strong>{{globals.currentContent.contentid}}</strong></span>」を入力し、お好きな名前とパスワードを入力して下さい。</h3>
            <h3>③ログインが完了しますと、右に名前が表示されます。</h3>  
        </div>

        <div auto-scroll id="mobileUserList">
            <ul>
                <li ng-repeat="item in ct.mobileNames"><span>{{item.mobileName}}</span></li>
            </ul>
        </div>

    </div>
</div>