<div class="container player">
    <h2>Edit Question</h2>
    <div ng-show="ct.error" class="alert alert-danger">{{ct.error}}</div>
    <form name="form" role="form">
    
<p>このページでは、問題の編集を行うことができます。</p>

    <div>
        
        <select ng-model="ct.choiceques" ng-options="q.quesID as q.quesText for q in ct.ques" ng-change="ct.changeQues()"></select>
        <p>編集を行う問題を選択してください。</p>


    </div>
    <div>
        
        <input type="checkbox" name="demo" ng-model="ct.demo">
        <label for="demo">デモ</label>
        <p>デモの場合はチェックを入れてください。</p>


    </div>

    <div>
        <label for="preKind">前説種別</label>
        <select name="preKind" ng-model="ct.preKind"> <!-- ng-change="change()" -->
            <option value="text">テキスト</option>
            <option value="picture">画像</option>
            <option value="intro">イントロ</option>
            <option value="movie">動画</option>
        </select>
        <p>問題の前に表示するテキストあるいは画像等を指定してください。</p>
    </div>
    <div>
        <label for="preText">前説テキスト</label>
        <input type="text" name="preText" ng-model="ct.preText" size="100%" required>
        <p>前説として表示するテキストを選択してください。</p>
    </div>


    <div ng-show="ct.preKind=='picture'">
        <label>前説画像</label>
        <input type="file" ngf-select ng-model="ct.prePic" name="prePic"    
               accept="image/*" ngf-max-size="2MB">
        <i ng-show="form.prePic.$error.maxSize">ファイルサイズが大きすぎます。
            {{ct.prePic.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="form.prePic.$valid" ngf-thumbnail="ct.prePic" class="thumb">
        <img src="{{ct.prePicPath}}" class="thumb">
        <p>前説として表示する画像を選択してください。</p>
    </div>

    <div ng-show="ct.preKind=='intro'">
        <label>前説イントロ</label>
        <input type="file" ngf-select ng-model="ct.preIntro" name="preIntro"    
               accept="audio/mp3" ngf-max-size="5MB">
        <i ng-show="form.preIntro.$error.maxSize">ファイルサイズが大きすぎます。
            {{ct.preIntro.size / 1000000|number:1}}MB: max 5M</i>
            <audio controls ngf-src="ct.preIntro"></audio>
        <p>前説として再生する音楽(mp3)を選択してください。</p>
    </div>

    <div ng-show="ct.preKind=='movie'">
        <label>前説動画</label>
        <input type="file" ngf-select ng-model="ct.preMovie" name="preMovie"    
               accept="video/mp4" ngf-max-size="10MB">
        <i ng-show="form.preMovie.$error.maxSize">ファイルサイズが大きすぎます。
            {{ct.preMovie.size / 1000000|number:1}}MB: max 10M</i>
            <video controls ngf-src="ct.preMovie"></video>
        <p>前説として表示する動画(mp4)を選択してください。</p>
    </div>



    <div>
        <label for="choiceKind">問題種別</label>
        <select name="choiceKind" ng-model="ct.choiceKind"> <!-- ng-change="change()" -->
            <option value="text">テキスト</option>
            <option value="picture">画像</option>
        </select>
        <p>問題の種別を選択してください。</p>
    </div>

    <div>
        <label for="quesText">問題タイトル</label>
        <input type="text" name="quesText" ng-model="ct.quesText" size="100%" required>
        <p>問題の上に表示するタイトルを表示してください。</p>
    </div>


    <table border=1>
     <tr><td>

     <div ng-show="ct.choiceKind=='text'">
         <label for="preText1">回答1</label>
         <input type="text" name="preText1" ng-model="ct.choiceText1" size="50%" required>
     </div>
     <div ng-show="ct.choiceKind=='picture'">
         <label>画像1</label>
         <input type="file" ngf-select ng-model="ct.choicePic1" name="choicePic1"    
                accept="image/*" ngf-max-size="2MB">
         <i ng-show="form.choicePic1.$error.maxSize">ファイルサイズが大きすぎます。
             {{ct.choicePic1.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="form.choicePic1.$valid" ngf-thumbnail="ct.choicePic1" class="thumb">
         <img ng-show="!ct.choicePic1" src="{{ct.choicePic1Path}}" class="thumb">
     </div>

     <div>
         <label for="ansText1">解答1</label>
         <input type="text" name="ansText1" ng-model="ct.ansText1" size="50%" required>
     </div>

     </td><td>

     <div ng-show="ct.choiceKind=='text'">
         <label for="preText2">回答2</label>
         <input type="text" name="preText2" ng-model="ct.choiceText2" size="50%" required>
     </div>

     <div ng-show="ct.choiceKind=='picture'">
         <label>画像2</label>
         <input type="file" ngf-select ng-model="ct.choicePic2" name="choicePic2"    
                accept="image/*" ngf-max-size="2MB">
         <i ng-show="form.choicePic2.$error.maxSize">ファイルサイズが大きすぎます。
             {{ct.choicePic2.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="form.choicePic2.$valid" ngf-thumbnail="ct.choicePic2" class="thumb">
         <img ng-show="!ct.choicePic2" src="{{ct.choicePic2Path}}" class="thumb">
     </div>

     <div>
         <label for="ansText2">解答2</label>
         <input type="text" name="ansText2" ng-model="ct.ansText2" size="50%" required>
     </div>


     </td></tr>
     <tr><td>

     <div ng-show="ct.choiceKind=='text'">
         <label for="preText3">回答3</label>
         <input type="text" name="preText3" ng-model="ct.choiceText3" size="50%" required>
     </div>

     <div ng-show="ct.choiceKind=='picture'">
         <label>画像3</label>
         <input type="file" ngf-select ng-model="ct.choicePic3" name="choicePic3"    
                accept="image/*" ngf-max-size="2MB">
         <i ng-show="form.choicePic3.$error.maxSize">ファイルサイズが大きすぎます。
             {{ct.choicePic3.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="form.choicePic3.$valid" ngf-thumbnail="ct.choicePic3" class="thumb">
         <img ng-show="!ct.choicePic3" src="{{ct.choicePic3Path}}" class="thumb">
     </div>

     <div>
         <label for="ansText3">解答3</label>
         <input type="text" name="ansText3" ng-model="ct.ansText3" size="50%" required>
     </div>


     </td><td>

     <div ng-show="ct.choiceKind=='text'">
         <label for="preText3">回答4</label>
         <input type="text" name="preText4" ng-model="ct.choiceText4" size="50%" required>
     </div>

     <div ng-show="ct.choiceKind=='picture'">
         <label>画像4</label>
         <input type="file" ngf-select ng-model="ct.choicePic4" name="choicePic4"    
                accept="image/*" ngf-max-size="2MB">
         <i ng-show="form.choicePic4.$error.maxSize">ファイルサイズが大きすぎます。
             {{ct.choicePic4.size / 1000000|number:1}}MB: max 2M</i>
         <img ng-show="form.choicePic4.$valid" ngf-thumbnail="ct.choicePic4" class="thumb">
         <img ng-show="!ct.choicePic4" src="{{ct.choicePic4Path}}" class="thumb">
     </div>

     <div>
         <label for="ansText4">解答4</label>
         <input type="text" name="ansText4" ng-model="ct.ansText4" size="50%" required>
     </div>


     </td></tr>
    </table>

    <div>
        <label for="correctNum">正解番号</label>
        <input type="number" min="1" step="1" max="4" name="correctNum" ng-model="ct.correctNum" size="50px">
    </div>

    <div>
        <label for="quesSec">秒数</label>
        <input type="number" min="10" step="1" name="quesSec" ng-model="ct.quesSec" size="50px">
    </div>


    <div>
        <br>
        <button class="btn btn-primary" ng-disabled="ct.dataLoading" ng-click="ct.uploadQuestion(ct.prePic,null,null,ct.choicePic1,ct.choicePic2,ct.choicePic3,ct.choicePic4)">更新</button>
                <img ng-show="ct.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <p><a href="#/" class="btn btn-primary">マイページへ戻る</a>

        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
    </form>


</div>