<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../04_theme/assets/img/favicon.png">

    <title>SmaQ - ログインページ</title>

    <!-- Bootstrap core CSS -->
    <link href="../04_theme/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../04_theme/assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="SmaQ_logo.png" width="150"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">新規登録はこちらから</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1><img src="SmaQ_logo.png" width="120">へようこそ</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email address">
					  </div>
					</form><br>
                    <form class="form-inline" role="form">
                      <div class="form-group">

<!-- kj:id変更の必要あり -->

                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="password">
                      </div>
                      <br>
                      <button type="submit" class="btn btn-warning btn-lg" >ログイン</button>
                    </form>
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="../04_theme/assets/img/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1><img src="SmaQ_logo_1.png" width="120">とは？</h1>
				<h3><img src="SmaQ_logo_1.png" width="70">とはイベントで盛り上がれるサービスです。<br>
                忘年会やパーティ等にもご利用いただけます。</h3>
			</div>
		</div><!-- /row -->

		<!-- CAROUSEL -->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="../04_theme/assets/img/p01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="../04_theme/assets/img/p02.png" alt="">
				    </div>
				    <div class="item">
				      <img src="../04_theme/assets/img/p03.png" alt="">
				    </div>
				  </div>
				</div>
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div><!--/container -->
		<hr>
		<p class="centered">Created by BlackTie.co - Attribution License 3.0 - 2013</p>
	</div><!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../04_theme/assets/js/bootstrap.min.js"></script>
  </body>
</html>
