
  <div class="container">
    <h3>All Events:</h3>

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>イベント名</th>
	  <th>編集</th>
	  <th>再生</th>
	  <th>テスト</th>
	  <th>履歴</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="event in ct.contents">
	  <td>{{event.contentName}}</td>
	  <td><a href=""></a></td>
	  <td><a ng-click="ct.playContents(event.contentID)">●</a></td>
	  <td>●</td>
	  <td>●</td>
	</tr>
      </tbody>
    </table>
    <p>&nbsp;</p>
    
    <p><a href="#/cont_register" class="btn btn-primary">イベント登録</a>
      <a href="#/player" class="btn btn-primary">再生ページ(暫定)</a></p>
  </div>
