<div class="container" ng-if="ct.pre == 0" ng-click="ct.clickContainer()">
  <div ng-if="ct.prePicPath">{{ct.contents.preText}}</div>
  <div width="800px" height="500px">
    <div ng-if="!ct.prePicPath">
      <h2>{{ct.contents.preText}}
      <h2>
    </div>
    <div ng-if="ct.prePicPath">
      <img src="{{ct.prePicPath}}" width="800px" height="500px" />
    </div>
  </div>
</div>
<div class="container" ng-if="ct.pre" ng-click="ct.clickContainer()">{{ct.contents.quesText}} {{ct.contents.quesSec}}
  <table border ="1" width="800px" height="500px">
    <tr>
      <td>
        <div class="choiceArea">
          <div class="choiceTextArea" ng-if="!ct.choicePicPath0">
            <h1>{{ct.contents.choiceText[0]}}</h1>
          </div>
          <div class="choicePicArea" ng-if="ct.choicePicPath0">
            <img src="{{ct.choicePicPath0}}" width="400px" height="250px"/>
          </div>
          <div class="answerArea" ng-if="ct.pre == 2">{{ct.contents.ansText[0]}} {{ct.contents.ansSum[0]}}人</div>
        </div>
      </td>
      <td>
        <div class="choiceArea">
          <div class="choiceTextArea" ng-if="!ct.choicePicPath1">
            <h1>{{ct.contents.choiceText[1]}}</h1>
          </div>
          <div class="choicePicArea" ng-if="ct.choicePicPath1">
            <img src="{{ct.choicePicPath1}}" width="400px" height="250px"/>
          </div>
          <div class="answerArea" ng-if="ct.pre == 2">{{ct.contents.ansText[1]}} {{ct.contents.ansSum[1]}}人</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="choiceArea">
          <div class="choiceTextArea" ng-if="!ct.choicePicPath2">
            <h1>{{ct.contents.choiceText[2]}}</h1>
          </div>
          <div class="choicePicArea" ng-if="ct.choicePicPath2">
            <img src="{{ct.choicePicPath2}}" width="400px" height="250px"/>
          </div>
          <div class="answerArea" ng-if="ct.pre == 2">{{ct.contents.ansText[2]}} {{ct.contents.ansSum[2]}}人</div>
        </div>
      </td>
      <td>
        <div class="choiceArea">
          <div class="choiceTextArea" ng-if="!ct.choicePicPath3">
            <h1>{{ct.contents.choiceText[3]}}</h1>
          </div>
          <div class="choicePicArea" ng-if="ct.choicePicPath3">
            <img src="{{ct.choicePicPath3}}" width="400px" height="250px"/>
          </div>
          <div class="answerArea" ng-if="ct.pre == 2">{{ct.contents.ansText[3]}} {{ct.contents.ansSum[3]}}人</div>
        </div>
      </td>
    </tr>
  </table>
</div>