<div id="headerwrap">
<div class="container">
<h2>おはよう{{globals.currentUser.username}}!!!</h2>
<!-- <h1> {{vm.user.firstName}}!</h1> -->
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a href="#" ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
</div>
  <table border ="1", width=800px, height=500px>
    <tr>
      <td>{{ct.choiceText[0]}}</td>
      <td>{{ct.choiceText[1]}}</td>
    </tr>
    <tr>
      <td>{{ct.choiceText[2]}}</td>
      <td>{{ct.choiceText[3]}}</td>
    </tr>
</div>
