<p>&nbsp;</p>
<div class="container"  ng-if="ct.pre == 0" ng-click="ct.clickContainer()">
  {{ct.contents.quesText}}
  aaaa
  <table border ="1", width="800px", height="500px">
    <tr>
      <td>{{ct.contents.choiceText[0]}}</td>
      <td>{{ct.contents.choiceText[1]}}</td>
    </tr>
    <tr>
      <td>{{ct.contents.choiceText[2]}}</td>
      <td>{{ct.contents.choiceText[3]}}</td>
    </tr>
    </table>
</div>
<div class="container" ng-if="ct.pre == 1" ng-click="ct.clickContainer()">
  {{ct.contents.quesText}}
  iiii
  <table border ="1", width="800px", height="500px">
    <tr>
      <td><div>{{ct.contents.choiceText[0]}}</div><div ng-if="ct.pre == 2"></div></td>
      <td><div>{{ct.contents.choiceText[1]}}</div><div ng-if="ct.pre == 2"></div></td>
    </tr>
    <tr>
      <td><div>{{ct.contents.choiceText[2]}}</div><div ng-if="ct.pre == 2"></div></td>
      <td><div>{{ct.contents.choiceText[3]}}</div><div ng-if="ct.pre == 2"></div></td>
    </tr>
    </table>
</div>
